@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #666666;
    font-family: "筑紫A丸ゴシック", "fot-matisse-pron", sans-serif,
        "Savoye LET Plain:1.0", "メイリオ", "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", sans-serif;
    font-feature-settings: "palt";
    /* 上のやつは字幅メトリクスで指定 */
}
/* font-weight: 500; */
/* font-style: normal; */
html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    /*  */
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから課題 */
#loading {
    transition: all 1s;
    position: relative;
    left: 0;
    right: 0;
    background-color: #fff;
    align-items: center;
}
.spinner {
    width: 430px;
    height: 430px;
    margin: 156px auto;
    animation: spin 15s linear infinite;
}
.item {
    width: 325px;
    padding-left: 10px;
    margin: -405px auto;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
